<div class="container-fluid g-0">
  <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>

  <main>
    <app-side-nav class="bg-dark" [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-side-nav>

    <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
      <!-- <p class="fs-1 fw-bold fst-italic">Main Display Area</p> -->
      <app-activity-timer></app-activity-timer>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<!-- <div style="height: 100vh;">
  <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center h-100" >
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  Header
  Sidebar
  <div>
    <app-activity-timer></app-activity-timer>
    <router-outlet></router-outlet>
  </div>
</div> -->

